<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="def.gsus-">
    <meta name="description" content="{{ meta.description }}">
    <link rel="stylesheet" href="style.css">
    <title>{{ meta.title }}</title>
</head>
<body>

<main class="page-content">
    <div class="wrapper">
        <div class="nav">
            <div class="nav-item"><a href="https://github.com/defgsus">github</a></div>
            <div class="nav-item"><a href="https://defgsus.github.io/blog/">blog</a></div>
            <div class="nav-item"><a href="https://www.shadertoy.com/user/bergi">shadertoy</a></div>
            <div class="nav-item"><a href="https://vimeo.com/defgsus">vimeo</a></div>
            <div class="nav-item"><a href="https://www.youtube.com/user/bundesgesundheitsmin">youtube</a></div>
            <div class="nav-item"><a href="https://cymatrix.org/project.html">cymatrix</a></div>
            <div class="nav-item"><a href="https://www.fddb.org/organizations/ten-art-communications/">fddb</a></div>
        </div>

        {% block content %}
        {{ content }}
        {% endblock %}
    </div>
</main>

</body>
</html>