{% extends "base.html" %}


{% block content %}

<div class="header">
    <div class="title">def.gsus- repos</div>

    <div class="bob-image">
        <a href="http://subgenius.com/">
            <img src="img/bob.png">
        </a>
    </div>
</div>


<div class="repo-list">
    {% for year, repo_list in repos_by_year.items() %}
        <div class="year-block">
            <div class="year">{{year}}</div>
            <div class="inside">
            {% for repo in repo_list %}
                <div class="repo" id="{{repo.name}}">
                    <div class="flex-row">
                        <img class="language" src="img/tags/{{repo.language}}.png" title="{{repo.language}}">
                        <div class="name margin-right"><a href="{{repo.url}}">{{repo.name}}</a></div>
                        <div class="tags grow">
                            {% for tag in repo.tags %}
                                <div class="tag">{{tag}}</div>
                            {% endfor %}
                        </div>
                        <div class="date">{{repo.dates}}</div>
                    </div>
                    <div class="inside">
                        <div class="description short">{{repo.short_description}}</div>
                        {% if repo.long_description %}
                            <div class="description long">{{repo.long_description}}</div>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endfor %}
</div>
{% endblock %}
