body {
    font-family: monospace;
}

.wrapper {
    position: relative;
    width: 70%;
    max-width: 60rem;
    margin-left: auto;
    margin-right: auto;
    background: #f0e7d7;
    padding: 1rem;
    z-index: -2;
}
@media (max-width: 1000px) {
    .wrapper {
        width: 90%;
    }
}

.header {
    display: flex;
    margin-bottom: 1rem;
}
.header .title {
    font-size: 2rem;
    flex-grow: 1;
}
@media (max-width: 600px) {
    .header .bob-image img {
        height: 4rem;
    }
}

.repo-list a {
    color: #790a0a;
}

.repo-list .year {
    font-size: 1.333rem;
    margin-bottom: 1rem;
}

.repo-list .inside {
    margin-left: 1rem;
}
@media (max-width: 600px) {
    .repo-list .inside {
        margin-left: .5rem;
    }
}

.repo-list .name {
    font-size: 1rem;
    display: inline-block;
}

.repo-list .language, .repo-list .date {
    display: inline-block;
    font-size: .5rem;
}

.repo-list .date {

}

.repo-list .description.short p {
    padding-top: 0;
}

.repo-list .description.long {
    font-size: 80%;
    font-family: Arial, sans-serif;
}